<form [formGroup]="donationForm" (submit)="onSubmit()">
    <div class="tdp-form-container">
        <h2 class="is-purpel mb-0">Tour de Planet.</h2>
        <h2 class="mt-0">Move! Add your Donation!</h2>
        <div class="tdp-form-row mt-2">
            <div class="tdp-form-box half">
                <label for="date">Date</label>
                <input formControlName="date" name="date" id="date" />
                <div class="hint error" *ngIf="(donationForm.get('date').touched && donationForm.get('date').hasError('required'))">
                    Enter a valid date
                </div>
            </div>
            <div class="tdp-form-box half">
                <label for="amount">Amount<i class="icon icon-{{ iconByMeaningOfTransportation(donationForm.get('by').value) }}"></i></label>
                <input type="number" formControlName="amount" name="amount" id="amount" />
                <div class="hint error" *ngIf="(donationForm.get('amount').touched && donationForm.get('amount').hasError('required'))">
                    Enter a valid Number
                </div>
            </div>
        </div>
        <div class="tdp-form-box mt-1">
            <div class="hint" *ngIf="donationForm.get('point').value && donationForm.get('point').value.name">
                <i class="tdp-icon icon-tdp_location"></i>&nbsp;{{ donationForm.get('point').value.name }} ({{ donationForm.get('point').value.latitude }}, {{ donationForm.get('point').value.longitude }})
                <i (click)="forceEdit()" class="tdp-icon icon-tdp_edit"></i> for this donation
            </div>
        </div>
        <div class="tdp-form-box" *ngIf="editBasics">
            <label for="point">Point</label>
            <input type="search" (keyup)="onKeyUpname($event)" />
            <div class="hint" *ngIf="donationForm.get('point').value && donationForm.get('point').value.name">
                Name: {{ donationForm.get('point').value.name | slice: 0:20 }} ... ({{ donationForm.get('point').value.latitude }}, {{ donationForm.get('point').value.longitude }})

            </div>
            <ul class="autocomplete-items">
                <li *ngFor="let item of (autoCompleteItems$ | async)" (click)="onSelectPoint(item)">
                    <span>{{ item.display_name}}</span>
                </li>
            </ul>
        </div>
        <div class="tdp-form-row mt-1" *ngIf="editBasics">
            <div class="tdp-form-box half">
                <label for="unit">Unit</label>
                <select formControlName="unit">
          <option value="km">Kilometer</option>
          <option value="m">Miles</option>
        </select>
            </div>
            <div class="tdp-form-box half">
                <label for="by">By</label>
                <select formControlName="by">
          <option *ngFor="let item of (meansOfTransportation$ | async)" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
            </div>
        </div>
        <div class="tdp-form-row mt-2">
            <button type="submit" [disabled]="(donationForm.get('by').touched && donationForm.get('by').hasError('required'))
            || (donationForm.get('amount').touched && donationForm.get('amount').hasError('required'))
            || (donationForm.get('point').get('name').touched && donationForm.get('point').get('name').hasError('required'))" (click)=" onSubmit()" class="tdp-button tdp-button-menu full">
        Submit
      </button>
        </div>
    </div>
</form>