<div class="tdp-form-container">
    <h2 class="is-purpel mb-0">Welcome to Tour de Planet.</h2>
    <h2 *ngIf="state === 'input'">Thank you for registering, we will check your verification now.</h2>
    <h2 *ngIf="state === 'verified'">Your registrition is completed now, You can <a routerLink="/auth/login">Login here</a> now.</h2>
    <h2 *ngIf="state === 'denied'">The link you passed is not valid. Please <a routerLink="/auth/register">Sign up here</a> and try again.</h2>
</div>