<form [formGroup]="tourForm" *ngIf="tourForm">
    <input type="hidden" formControlName="id" />
    <div class="tdp-form-box full">
        <label>Name of tour</label>
        <input type="text" formControlName="title" />
    </div>
    <app-means-of-transportation [motForm]="type.value"></app-means-of-transportation>
    <app-organizer-form [organizerForm]="organizer.value" *ngIf="organizer"></app-organizer-form>
    <app-tour-point-form [tourPointForm]="start.value" *ngIf="start" [name]="'Tour start'" (addPoint)="onAddPoint($event)"></app-tour-point-form>
    <app-tour-point-form [tourPointForm]="end.value" *ngIf="end" [name]="'Tour end'" (addPoint)="onAddPoint($event)"></app-tour-point-form>

    <div class="tdp-form-box full mt-3">
        <button class="tdp-button tdp-button-menu" (click)="addSegment()">Add new Segment</button>
        <div class="hint">
            <p>
                A tour can contain several segments. Either separated by dates or by different tracks a day.
            </p>
        </div>
    </div>
    <div *ngFor="let segmentControl of tourSegments?.controls, let i = index">
        <app-tour-segment-form [tourSegmentForm]="segmentControl" (addPoint)="onAddPoint($event)"></app-tour-segment-form>
    </div>
    <div class="tdp-form-box full mt-3">
        <button class="tdp-button tdp-button-menu">Submit</button>
    </div>
</form>