<div class="app-counter-container" routerLink="/donations/list">
    <div class="app-counter-value">
        <div class="amount">{{ sum }}</div>
        <div class="unit">{{ unit }}</div>
    </div>
    &nbsp;
</div>