@import './../../../../../styles/variables';
.app-counter-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .app-counter-value {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        align-content: space-around;
        justify-content: flex-end;
        .amount {
            color: $white;
            font: Normal 3.2941176470588234rem/3.9529411764705884rem Rubik;
            font-weight: bolder;
            text-align: center;
            letter-spacing: 2.8px;
            display: block;
        }
        .unit {
            font: $unit-font;
            font-weight: bolder;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.82px;
            color: #BEC8D2;
            display: block;
            margin-top: 2rem;
            margin-left: 0.5rem;
        }
    }
}