@import './../../../styles/variables';
header {
    width: 100%;
    height: auto;
    margin: 0;
    background: #3248D4 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: $paddingFormsContainer;
    .img-container {
        align-self: start;
        cursor: pointer;
        .logo {
            mix-blend-mode: normal;
            opacity: 1;
        }
    }
}