<header class="tdp-flex-columns">
    <div class="tdp-flex-outer-row">
        <div class="img-container" routerLink="/">
            <img class="logo" src="/assets/img/Rectangle_99.png" sizes="(min-with: 992px) 2x, 1x" srcset="/assets/img/Rectangle_99.png 1x, /assets/img/Rectangle_99@2x.png 2x" alt="Tour de Planet" />
        </div>
        <app-navigation *ngIf="!isHome" (toggleMenu)="onToggleMenu()"></app-navigation>
        <app-dashboard-overview *ngIf="isHome && isUser" [user]="user" (toggleMenu)="onToggleAccountMenu()"></app-dashboard-overview>
    </div>
</header>