@import './../../../styles/variables';
.user-icon {
    height: 8.823529411764707rem;
    width: 10.294117647058824rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: baseline;
    cursor: pointer;
    .profile-image-wrapper {
        height: 4.470588235294118rem;
        width: 4.470588235294118rem;
        border: 3px solid #FFFFFF;
        border-radius: 50%;
        opacity: 1;
    }
    .profile-username {
        text-align: center;
        letter-spacing: 0px;
        color: #3EEBFF;
        font: $unit-font;
        opacity: 1;
    }
}