@import 'variables';
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}

label,
input,
select,
texarea {
    width: 100%;
}

input,
select,
option,
textarea {
    font: $form-text-font;
    font: $form-text-font;
    color: $form-text-color;
    background: $form-background-empty-color 0% 0% no-repeat padding-box;
    border: 1px solid $form-border-empty-color;
    border-radius: 6px;
    opacity: 1;
    margin-top: 0;
}

input,
select {
    height: 2.7058823529411766rem;
    &:focus,
    &:hover,
    &:active {
        border-color: $form-border-active-color;
        background-color: $form-background-active-color;
    }
    &.valid {
        background-color: $form-background-valid-color;
        border-color: $form-border-valid-color;
    }
    &.error {
        border-color: $form-border-invalid-color;
        color: $form-border-invalid-color;
    }
}

.tdp-form-container {
    padding-left: $paddingFormsContainer;
    padding-right: $paddingFormsContainer;
    padding-top: $paddingFormsContainer;
    padding-bottom: $paddingFormsContainer;
    display: table;
    margin-bottom: 10.7058823529411765rem;
    vertical-align: top;
    width: 100%;
    label,
    input,
    select,
    texarea {
        width: 100%;
    }
    .hint {
        font: $checkbox-label-font !important;
        color: $form-label-color;
    }
    .tdp-form-row {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        align-content: flex-start;
        flex: 1 1;
    }
    .tdp-form-box {
        padding: 0;
        margin: 0;
        label,
        input,
        select,
        texarea {
            width: 100%;
        }
        vertical-align: baseline;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: space-between;
        &.half {
            width: 45%;
        }
    }
    .tdp-form-list {
        position: relative;
        margin: 0;
        width: 100%;
        padding: 0;
        display: block;
        &.li {
            position: relative;
            margin: 0;
            width: 100%;
            padding: 0;
            display: block;
        }
    }
}

.input-title {
    clear: both;
    margin-bottom: 0.3rem;
    padding: 0;
    font: $checkbox-label-font;
    color: $form-label-color;
    display: inline-block;
    width: 90%;
}

label {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    width: 100%;
    height: 1.0588235294117647rem;
    display: inline-block;
    text-align: left;
    letter-spacing: 0px;
    color: $form-label-color;
    &.checkbox {
        position: relative;
        font: $checkbox-label-font;
        position: relative;
        cursor: pointer;
        color: $form-label-color;
        width: 10%;
        clear: both;
        input[type="checkbox"],
        input[type="radio"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        .tdp-checkbox {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 1.0588235294117647rem;
            height: 1.0588235294117647rem;
            border: 1px solid $form-border-color;
            background-color: $form-background-color;
            border-radius: 3px;
            opacity: 1;
            transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
        }
        .tdp-checkbox.valid {
            border: 1px solid $form-border-color;
            background-color: $form-background-color;
        }
        input[type="checkbox"]:checked~.tdp-checkbox {
            background-color: $form-border-active-color;
            -webkit-transform: rotate(0deg) scale(1);
            -ms-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
            opacity: 1;
            border: 2px solid $form-border-active-color;
        }
        .tdp-checkbox::after {
            position: absolute;
            content: "";
            left: 9px;
            bottom: 9px;
            height: 0px;
            width: 0px;
            border-radius: 3px;
            border: solid $form-border-empty-color;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(0deg) scale(0);
            -ms-transform: rotate(0deg) scale(0);
            transform: rotate(0deg) scale(0);
            opacity: 1;
            transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
        }
        input[type="checkbox"]:checked~.tdp-checkbox::after {
            -webkit-transform: rotate(45deg) scale(1);
            -ms-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
            opacity: 1;
            left: 8px;
            bottom: 3px;
            width: 3px;
            height: 9px;
            border: solid $form-border-empty-color;
            border-width: 0 2px 2px 0;
            background-color: transparent;
            border-radius: 0;
        }
        .tdp-checkbox::before {
            position: absolute;
            content: "";
            left: 10px;
            bottom: 10px;
            width: 0px;
            height: 0px;
            border-radius: 3px;
            border: 2px solid $form-border-empty-color;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
        }
        input[type="checkbox"]:checked~.tdp-checkbox::before {
            left: -3px;
            top: -3px;
            width: 1.0588235294117647rem;
            height: 1.0588235294117647rem;
            border-radius: 3px;
            -webkit-transform: scale(3);
            -ms-transform: scale(3);
            transform: scale(3);
            opacity: 0;
            z-index: 999;
            transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
        }
    }
}

button {
    &.tdp-button {
        font: $button-text-font;
        height: 3.6470588235294117rem;
        border-radius: 1.6470588235294117rem;
        font-size: $button-text-font;
        border: 2px solid $form-background-empty-color;
        background: $general-button-background-color 0% 0% no-repeat padding-box;
        text-align: center;
        letter-spacing: 0.28px;
        color: $general-button-text-color;
        opacity: 1;
         :disabled,
        &.disabled {
            background-color: $general-button-fff-disabled-color;
        }
    }
    &.red {
        background-color: $red;
        color: $white;
         :disabled {
            background-color: $pink;
        }
    }
    &.full {
        width: 100%;
    }
    &.tdp-button-menu {
        border-radius: 20px;
        border-width: 0;
        color: $secont-background-color;
        width: 75%;
        font-weight: bolder;
        margin: 0.3rem auto;
        &:hover,
        &:disabled,
        &.disabled {
            background-color: #8AA0FF;
            color: $white;
        }
        span {
            font-weight: lighter;
        }
    }
}