    @mixin flexbox() {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    
    @mixin flex($values) {
        -webkit-box-flex: $values;
        -moz-box-flex: $values;
        -webkit-flex: $values;
        -ms-flex: $values;
        flex: $values;
    }
    
    @mixin order($val) {
        -webkit-box-ordinal-group: $val;
        -moz-box-ordinal-group: $val;
        -ms-flex-order: $val;
        -webkit-order: $val;
        order: $val;
    }
    
     :root {
        font-family: Rubik-Regular, Rubik sans-serif;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    
    html {
        position: relative;
        min-height: 100%;
        font-size: 17px;
    }
    
    body {
        margin: 0;
        background-color: $white;
        background-image: none !important;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: 100%;
    }
    
    iframe {
        width: 100%;
        height: 100%;
    }
    
    router-outlet,
    app-header,
    app-notification,
    app-home,
    app-total-donations,
    app-recently-added-donations,
    app-donation-row,
    app-tour,
    app-tour-form,
    app-tour-segment-form,
    app-tour-point-form,
    app-tour-organizer-form {
        width: 100%;
    }
    
    .mb-0 {
        margin-bottom: 0 !important;
    }
    
    .mb-1 {
        margin-bottom: 1rem !important;
    }
    
    .mb-2 {
        margin-bottom: 2rem !important;
    }
    
    e .mb-3 {
        margin-bottom: 3rem !important;
    }
    
    .mb-4 {
        margin-bottom: 4rem !important;
    }
    
    .mb-5 {
        margin-bottom: 5rem !important;
    }
    
    .mt-0 {
        margin-top: 0 !important;
    }
    
    .mt-1 {
        margin-top: 1rem !important;
    }
    
    .mt-2 {
        margin-top: 2rem !important;
    }
    
    .mt-3 {
        margin-top: 3rem !important;
    }
    
    .mt-4 {
        margin-top: 4rem !important;
    }
    
    .mt-5 {
        margin-top: 5rem !important;
    }
    
    ul#password-meter {
        list-style: none;
        margin-left: 0;
        li.password-match {
            color: $red;
        }
        li.password-dismatch {
            color: $green;
        }
    }
    
    .tdp-container {
        width: 100%;
        padding: $paddingContainer;
    }
    
    .tdp-box {
        width: 100%;
        border-radius: 6px;
        border: 1px solid $blue;
        position: relative;
        opacity: 1;
        background: $box-background-color 0% 0% no-repeat padding-box;
        padding: $paddingContainer;
    }
    
    .tdp-box-footer {
        text-align: center;
        width: 100%;
    }
    
    .tdp-flex-center-row {
        margin: 0;
        vertical-align: baseline;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        align-content: space-around;
    }
    
    .tdp-flex-outer-row {
        margin: 0;
        vertical-align: baseline;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        align-content: flex-end;
    }
    
    .tdp-flex-center-column {
        margin: 0;
        vertical-align: baseline;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-around;
    }
    
    .img-container {
        img {
            max-width: 100%;
            height: auto;
        }
    }
    
    $paddingRight: 2.7058823529411766rem;
    $paddingLeft: 2.6470588235294117rem;
    .content-container {
        padding-left: $paddingLeft;
        padding-right: $paddingRight;
        padding-top: $paddingLeft;
        padding-bottom: $paddingLeft;
        display: table;
        vertical-align: top;
        width: 100%;
        height: 100%;
        background-color: $header-left-color;
    }
    
    ul.navigation-list {
        list-style: none;
        li {
            width: 100%;
            height: 2rem;
            background-color: transparent;
            margin-bottom: 2rem;
            h5 {
                font: $navigation-font;
                color: $white;
                margin: $navigation-font-magin;
            }
            a {
                font: $navigation-font;
                color: $white;
                text-decoration: none;
                 :hover,
                 :active,
                .active {
                    color: $green;
                }
                 :disabled,
                .disabled {
                    color: #8AA0FF;
                }
                span {
                    font-weight: lighter;
                }
            }
        }
    }
    
    .donation-list {
        border: 1px solid $box-headline-color;
        .donation-list-item {
            text-align: left;
            letter-spacing: 0.15px;
            color: $box-headline-color;
            opacity: 1;
            padding: 0.2rem;
             :last-child {
                padding: 0;
            }
        }
    }
    
    .flex {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
    }
    
    div.drawer-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        flex: 1;
    }
    
    div.drawer-content,
    div.drawer {
        display: flex;
        flex-flow: column wrap;
        flex: 1 1;
    }
    
    div.drawer-content {
        order: 2;
    }
    
    div.drawer {
        order: 1;
    }
    
    app-map {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        flex: 1 1;
        order: 2;
    }
    
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        div.drawer-container {
            flex-flow: row wrap;
            div.drawer {
                flex: 4;
            }
            div.drawer-content {
                flex: 6;
            }
        }
    }
    
    app-notification {
        position: absolut;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }