$white: #FFFFFF;
$beige: #FFFFFF00;
$lightGrey: #E6E8F2;
$mediumGrey: #C9C9D3;
$grey: #878C9B;
$moreGrey: #BEC0C3;
$darkGrey: #67677A;
$lightBlue: #3EEBFF;
$mediumBlue: #3248D4;
$darkBlue: #2D45A5;
$darkGreyishBlue: #3951A5;
$blue: #1E2DB2;
$turquoise: #33ddbc;
$yellow: #FCEE21;
$lightGreen: #E2F742;
$green: #8CC63F;
$red: #FF5A60;
$pink: #FCC0C5;
$black: #1A1A3A;
$purpel: #374BC8;
$label-font: 'Rubik',
sans-serif;
$font-family-arial: 'ArialMT',
sans-serif;
$first-headline-font: Normal 1.235rem/1.726rem Rubik;
$first-headline-margin: (1.726rem / 1.5) 0 (1.726rem / 2.5) 0;
$second-headline-font: Normal 1.235rem/1.726rem Rubik;
$second-headline-margin: (1.726rem / 1.5) 0 (1.726rem / 2.5) 0;
$box-headline-font: Normal 0.8235294117647058rem/1rem Rubik;
$unit-font: Normal 1.2176470588235293rem/3.9529411764705884rem Rubik;
$navigation-font: Bold 1.2941176470588236rem/3.2941176470588234rem Rubik;
$navigation-font-magin: (3.2941176470588234rem / 0.5) 0 (3.2941176470588234rem / 1.5) 0;
$checkbox-label-font: Normal 0.882rem/1.764rem Rubik;
$form-text-font: Normal 1.059rem/1.2705rem ArialMT;
$button-text-font: Bold 1.0589rem/1.1511rem Rubik;
$main-headline-color: $blue;
$second-headline-color: $black;
$form-background-empty-color: #ECEEF2;
$form-background-active-color: $white;
$form-background-valid-color: $white;
$form-background-invalid-color: $pink;
$form-background-color: $white;
$form-border-empty-color: #CCD1D2;
$form-border-active-color: #00E1FF;
$form-border-valid-color: $green;
$form-border-invalid-color: $pink;
$form-border-color: #CCD1D2;
$form-text-color: #686970;
$form-label-color: $darkGreyishBlue;
$notification-text-color: $darkBlue;
$special-text-color: #757B8A;
$general-button-background-color: #00E1FF;
$general-button-fff-disabled-color: #DADEE1;
$general-button-text-color: #FFFFFF;
$link-color: #00E1FF;
$link-color-disabled: #DADEE1;
$box-headline-color: #88A4FF;
$box-background-color: $blue;
$header-left-color: #3248D4;
$header-right-color: $black;
$normal_bike-background-color: #4076ff;
$racing_bike-background-color: #97b5ff;
$walking-background-color: #6f89cd;
$hiking-background-color: #3248d4;
$special-background-color: #4076ff;
$general-background-color: #4c4ff6;
$secont-background-color: #2632ae;
$paddingFormsContainer: 2.6470588235294117rem;
$paddingContainer: 0.8823529411764706rem;