<div [formGroup]="tourSegmentForm" *ngIf="tourSegmentForm">
    <input type="hidden" formControlName="id" />
    <div class="tdp-form-box full">
        <label>Segment Name</label>
        <input type="text" formControlName="name" />
    </div>
    <app-tour-point-form [tourPointForm]="start.value" *ngIf="start" [name]="'Segment start'"></app-tour-point-form>
    <app-tour-point-form [tourPointForm]="end.value" *ngIf="end" [name]="'Segment end'"></app-tour-point-form>
</div>