<div class="organizer-form tdp-form-row" [formGroup]="organizerForm" *ngIf="organizerForm">
    <div class="tdp-form-box half">
        <input type="hidden" formControlName="id" />
        <label>Organizer Name</label>
        <input type="text" formControlName="name" />
    </div>
    <div class="tdp-form-box half">
        <label>Organizer Type</label>
        <select formControlName="type">
      <option>Select a type</option>
      <option value="group">Group</option>
      <option value="single">Single</option>
    </select>
    </div>
</div>