<form [formGroup]="loginForm" (submit)="onSubmit()">
    <div class="tdp-form-container">
        <h2 class="is-purpel mb-0">Welcome to Tour de Planet.</h2>
        <h2 class="mt-0">No account? <a routerLink="/auth/register">Sign up here</a>.</h2>
        <div class="tdp-form-box mt-2">
            <label for="username">Username</label>
            <input type="text" formControlName="username" autocomplete="username" [class.error]="usernameControlInvalid" [class.valid]="loginForm.get('username').touched && !usernameControlInvalid" />
            <div class="hint is-red" *ngIf="usernameControlInvalid">You should enter a username</div>
        </div>
        <div class="tdp-form-box mt-1">
            <label for="password">Password</label>
            <input type="password" formControlName="password" autocomplete="current-password" [class.error]="passwordControlInvalid" [class.valid]="loginForm.get('password').touched && !passwordControlInvalid" />
            <div class="hint is-red" *ngIf="usernameControlInvalid">Enter your password.</div>
        </div>
        <div class="tdp-form-box mt-2">
            <button type="submit" [disabled]="invalid" class="tdp-button tdp-button-menu full">Submit</button>
        </div>
    </div>
</form>