<div class="tdp-form-box full" [formGroup]="motForm" *ngIf="motForm">
    <label>Mean of Transportation</label>
    <select formControlName="id">
        <option>Select a type</option>
        <option *ngFor="let t of getMots(mots$ | async)" value="{{ t.id}}">{{ t.name }}</option>
      </select>
</div>